.mine-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
  background-color: #F1F3F8;

  .user-card {
    margin: 0 40rpx 30rpx 40rpx;
  }

  .into-card {
    width: 670rpx;
    height: 812rpx;
    position: relative;
    box-sizing: border-box;
    margin: 0 40rpx;
    padding: 60rpx;
    border-radius: 80rpx;
    background: #FFFFFF;

    .into-head {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      margin-bottom: 20rpx;
    }

    .title {
      height: 42rpx;
      font-size: 40rpx;
      color: #333333;
      line-height: 42rpx;
      font-weight: bold;
    }

    .card-content {
      height: 240rpx;
      box-sizing: border-box;
      padding-top: 40rpx;
      margin-bottom: 10rpx;
      line-height: 60rpx;

      .card-content-textarea {
        width: 100%;
        height: 100%; 
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;

      .button-item {
        width: 120rpx;
        height: 54rpx;
        border-radius: 32rpx;
        font-size: 24rpx;
        text-align: center;
        line-height: 54rpx;
      }

      .btn-plain {
        color: #999999;
        background: #F2F7FD;
      }

      .btn-danger {
        color: #fdeded;
        background: #ff6161;
      }

      .btn-primary {
        margin-left: 20rpx;
        color: #FFFFFF;
        background: linear-gradient(to right, #A5D5FF, #7D93FF);
      }
    }

    .letter-count {
      height: 55rpx;
      margin-top: 11rpx;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: #999999;

      .current-letter {
        font-size: 38rpx;
      }

      .total-letter {
        font-size: 30rpx;
      }
    }

    .upload-image {
      margin-top: 28rpx;
      overflow: hidden;

      .image-list-item {
        display: inline-block;
        position: relative;
        padding-top: 12rpx;
        margin: 0 5rpx;

        .image-list-image {
          width: 170rpx;
          height: 170rpx;
          border-radius: 40rpx;
          overflow: hidden;
          // width: 100%;
          // height: 100%;
        }

        .delete-image {
          width: 46rpx;
          height: 46rpx;
          border-radius: 50%;
          position: absolute;
          right: -12rpx;
          top: 0;
          // border: 1px solid red;
          // box-shadow: -2rpx 2rpx 10rpx rgb(255, 104, 104);


        }
      }

      .add-image {
        width: 170rpx;
        height: 170rpx;
        display: inline-block;
        position: relative;
        border: 1rpx dashed #90939B;
        border-radius: 40rpx;
        margin: 0 5rpx;
      }

      .add-image::after {
        content: "";
        position: absolute;
        background: #E5E5E5;
        left: 50%;
        top: 50%;
        width: 2%;
        height: 30rpx;
        transform: translateY(-15rpx);
      }

      .add-image::before {
        content: "";
        position: absolute;
        background: #E5E5E5;
        top: 50%;
        left: 50%;
        height: 2%;
        width: 30rpx;
        transform: translateX(-15rpx);
      }
    }

    .card-footer {
      margin-top: 55rpx;

      .line {
        position: relative;
        width: 90%;
        height: 10rpx;
        margin: 32rpx auto 24rpx;
        background-image: linear-gradient(to right, #959490 35%, #fff 0%);
        background-position: bottom;
        background-size: 30rpx 1rpx;
        background-repeat: repeat-x;

        .line-text {
          width: 200rpx;
          position: absolute;
          left: 50%;
          top: -12rpx;
          transform: translateX(-100rpx);
          text-align: center;
          color: #959490;
          font-size: 26rpx;
          background: #FFFFFF;
        }
      }
    }

    .dove-bg {
      width: 143rpx;
      height: 117rpx;
      position: absolute;
      top: 740rpx;
      left: 552rpx;
    }
  }

  .footer-tab {
    width: 662rpx;
    height: 106rpx;
    margin: 30rpx 40rpx 24rpx 40rpx;
    border-radius: 80rpx;
    box-sizing: border-box;
    padding: 34rpx 60rpx;
    display: flex;
    justify-content: space-between;
    background: #fff;

    .tab-item {
      font-size: 28rpx;
      display: flex;
      align-items: center;
      position: relative;
      color: #666666;

      .tab-icon {
        width: 24rpx;
        height: 24rpx;
        margin-right: 7rpx;
      }
    }

    .tab-item::after {
      content: "";
      width: 1rpx;
      height: 80%;
      position: absolute;
      right: -33rpx;
      background: #666666;
    }

    .tab-item:nth-child(3)::after {
      display: none;
    }
  }
}